.m-btn{
  display: inline-block;
  padding: 4px 12px;
  color:#fff;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid transparent;
  background: #4ab7ed;
  cursor: pointer;
}
.m-btn:hover{
  background:#2366d1;
}
.thead{
  background-color: #3C8DBC;
  color: #fff;
}
.form-item-inputText {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 380px;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
    padding: 0 14px;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #666;
}

.form-item-inputTextArea{
  height: 100px;
  overflow: scroll;
}

.form-item-inputText:focus {
    background: #fff;
    border: 1px solid #4ab7ed;
}

.form-item {
    margin: 30px 0 0;
}
.form-item-title-contain{
  display: flex;
  align-items: center;
  height: 32px;
}
.icon-gantanhao {
    color: #ff653f;
    font-size: 16px;
}

.form-item-title {
    font-size: 16px;
    color: #333;
}

.form-item-require {
    color: red;
    font-size: 14px;
}

.form-item-maohao {
    margin-left: 6px;
    color: #333;
    font-size: 14px;
}

.form-item-valErr {
    margin-left: 6px;
}

.form-item-valErr-value {
    color: red;
    margin-left: 4px;
    font-size: 14px;
}

.form-item-desc {
    display: inline-block;
    margin-top: 6px;
    color: #999;
    font-size: 12px;
}

.m-is-flex-ver{
  display: flex;
  align-items: center;
}
